@model DMST.Models.ItemLoot
<h2>@Model.Name wirklich löschen?</h2>
<form asp-action="Delete">
    <input type="hidden" asp-for="ItemId" />
    <button type="submit">Ja</button>
    <a asp-action="Index">Nein</a>
</form>