@model DMST.Models.ItemLoot
<h2>Edit Item</h2>
<form asp-action="Edit">
    <input type="hidden" asp-for="ItemId" />
    Name: <input asp-for="Name" /><br />
    Attributes: <textarea asp-for="Attributes"></textarea><br />
    Weight: <input asp-for="Weight" /><br />
    Rarity: <input asp-for="Rarity" /><br />
    Place:
    <select asp-for="PlaceId">
        @foreach (var p in ViewBag.Places)
        {
            <option value="@p.PlaceId">@p.Name</option>
        }
    </select><br />
    <button type="submit">Speichern</button>
    <a asp-action="Index">Zurück</a>
</form>